<div class="container content-page" fxLayout="column" fxLayoutAlign="start center">
    <!-- Back Button and Title -->
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
        <button mat-icon-button class="back-button" (click)="goBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h3 fxLayoutAlign="center center">બ્લડ ગ્રુપ માહિતી</h3>
    </div>

    <div class="button-grid-container" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-button *ngFor="let blood of bloods" class="text-button" fxFlex="22" fxFlex.lt-sm="47">{{ blood }}</button>
    </div>
</div>