<div class="container content-page" fxLayout="column" fxLayoutAlign="start center">
    <!-- Back Button and Title -->
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
        <button mat-icon-button class="back-button" (click)="goBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h3 fxLayoutAlign="center center">ગામ મુજબ ની માહિતી</h3>
    </div>

    <div class="button-grid-container village-list">
        <button mat-button *ngFor="let village of villages" class="text-button">
            {{ village }}
            <!-- add here total members of this village-->
            <b class="w-100 members-count">
                સભ્યો: <small>256</small>
            </b>
        </button>
    </div>
</div>