.village-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    width: 100%;
    padding: 0;
    button {
        padding: 0.5rem !important;
        height: auto !important;
        margin: 0 !important;
        font-size: 1.1rem;
        b {
            font-size: 0.9rem;
            small {
                font-weight: 600;
                font-size: 0.9rem;
            }
        }
    }
}
.members-count {
    color: #005cbb;
    width: 100%;
    display: inline-block;
}