<div class="container content-page" fxLayout="column" fxLayoutAlign="start center">
    <!-- Back Button and Title -->
    <div fxLayout="row" fxLayoutAlign="start center" class="header">
      <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h3 fxLayoutAlign="center center">લગ્ન વિશેષજ્ઞ</h3>
    </div>
  
    <!-- Search bar -->
    <div class="search-container" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="search-bar" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search here..." />
        </mat-form-field>

        <button mat-icon-button class="filter-button">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>      
  
    <!-- Cards -->  
    <div class="cards-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
        <mat-card class="item-card" *ngFor="let item of items" fxFlex="23" fxFlex.lt-sm="47">
            <img mat-card-image [src]="item.image" *ngIf="item.image" alt="Profile Image" />
            <div *ngIf="!item.image" class="header-image"></div>

            <mat-card-content>
              <h3>{{ item.name }}</h3>
              <p class="location"><span fxLayoutAlign="start center" class="icon-div"><mat-icon>location_on</mat-icon>{{ item.location }}</span>
              </p>
            </mat-card-content>

            <mat-card-actions class="location" fxLayoutAlign="space-between center">
                    <span class="category">{{ item.age }}</span>
                    <span fxLayoutAlign="start center" class="icon-div"><mat-icon>bookmark_border</mat-icon></span>
            </mat-card-actions>
        </mat-card>
    </div>
</div>