
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$jagodana-parivar-frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($jagodana-parivar-frontend-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($jagodana-parivar-frontend-theme);

@font-face {
  font-family: 'Noto Sans Gujarati';
  src: url('./assets/fonts/NotoSansGujarati-Medium.eot');
  src: url('./assets/fonts/NotoSansGujarati-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/NotoSansGujarati-Medium.woff2') format('woff2'),
      url('./assets/fonts/NotoSansGujarati-Medium.woff') format('woff'),
      url('./assets/fonts/NotoSansGujarati-Medium.ttf') format('truetype'),
      url('./assets/fonts/NotoSansGujarati-Medium.svg#NotoSansGujarati-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Gujarati';
  src: url('./assets/fonts/NotoSansGujarati-Regular.eot');
  src: url('./assets/fonts/NotoSansGujarati-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/NotoSansGujarati-Regular.woff2') format('woff2'),
      url('./assets/fonts/NotoSansGujarati-Regular.woff') format('woff'),
      url('./assets/fonts/NotoSansGujarati-Regular.ttf') format('truetype'),
      url('./assets/fonts/NotoSansGujarati-Regular.svg#NotoSansGujarati-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Gujarati';
  src: url('./assets/fonts/NotoSansGujarati-SemiBold.eot');
  src: url('./assets/fonts/NotoSansGujarati-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/NotoSansGujarati-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/NotoSansGujarati-SemiBold.woff') format('woff'),
      url('./assets/fonts/NotoSansGujarati-SemiBold.ttf') format('truetype'),
      url('./assets/fonts/NotoSansGujarati-SemiBold.svg#NotoSansGujarati-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Gujarati';
  src: url('./assets/fonts/NotoSansGujarati-Bold.eot');
  src: url('./assets/fonts/NotoSansGujarati-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/NotoSansGujarati-Bold.woff2') format('woff2'),
      url('./assets/fonts/NotoSansGujarati-Bold.woff') format('woff'),
      url('./assets/fonts/NotoSansGujarati-Bold.ttf') format('truetype'),
      url('./assets/fonts/NotoSansGujarati-Bold.svg#NotoSansGujarati-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Gujarati';
  src: url('./assets/fonts/NotoSansGujarati-ExtraBold.eot');
  src: url('./assets/fonts/NotoSansGujarati-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/NotoSansGujarati-ExtraBold.woff2') format('woff2'),
      url('./assets/fonts/NotoSansGujarati-ExtraBold.woff') format('woff'),
      url('./assets/fonts/NotoSansGujarati-ExtraBold.ttf') format('truetype'),
      url('./assets/fonts/NotoSansGujarati-ExtraBold.svg#NotoSansGujarati-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($jagodana-parivar-frontend-theme);
// html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Noto Sans Gujarati', "Helvetica Neue", sans-serif !important;
}

.w-100 {
  width: 100%;
}

.login-container {
  width: 100%;
  max-width: 350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  height: 92vh;
}

p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

button {
  width: 100%;
  margin-top: 20px;
}

.mat-mdc-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
  padding: 16px;
  margin-top: 10px;

  h3{
    margin: 10px 0px !important;
    font-size: 18px;
  }

  .mdc-card__actions{
    padding: 0px;
    margin-top: 10px;
    min-height: auto;
  }
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  height: 92vh;
}

.left-card,
.right-card {
  flex: 1;
  padding: 50px 20px;
  text-align: center;

  div {
    margin: auto;
  }
}

.logo-img {
  width: 100%;
  height: auto;
  max-width: 210px;
}

.search-container {
  width: 100%;
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  width: 90%;
  background-color: #f4f4f4;

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.filter-button {
  background-color: #f4f4f4 !important;
  border-radius: 50% !important;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }

  mat-card img {
    height: 150px;
  }

  .left-card,
  .right-card {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.content-page {
  width: 100%;
  max-width: 600px; /* Center content and limit width */
  margin: 20px auto;
  padding: 10px;
}


.content-page{
  .header {
    background: #fff;
    position: sticky;
    top: -1px;
    z-index: 9;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    width: 100%;
    .back-button {
      margin-right: 10px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4f4f4;
      top: 50%;
      transform: translateY(-50%);
    }
    h3 {
      font-size: 1.4rem;
      font-weight: bold;
      margin: 0;
      color: #ff4081;
      width: 100%;
      padding-inline: 3rem;
      text-align: center;
      line-height: normal;
    }
  }
}

.content {
  padding: 0px 10px;

  h4 {
    color: #3b0a6d; /* Custom color for the subheading */
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #000;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

button {
  margin-top: 0px;
}

.business-card {
  width: 100%;
  box-shadow: 0px 4px 30px 0px #00000012 !important;
  border-radius: 10px;
  flex: 1 1 calc(33% - 20px);
  margin-top: 10px;

  img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .mat-mdc-card-content {
    padding: 0px !important;
  }

  .location {
    margin-top: 20px;

    .icon-div {
      color: #a2a5b1;
    }

    .mat-icon {
      font-size: 20px;
    }

    .category {
      color: #29166f;
      font-size: 14px;
    }
  }
}

.button-grid-container {
  padding: 0px 16px 0px;
  margin: 0 auto;
}

.text-button {
  margin-top: 10px !important;
  height: 50px !important;
  background-color: #f1f1f1 !important;
  border-radius: 8px !important;
  text-align: center !important;
  color: black !important;
}

/* Add media queries for responsiveness */

// spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
ng-otp-input {
  div {
    display: flex;
    gap: 0.3rem;
    .otp-input {
      margin: 0 !important;
    }
  }
}